*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color:rgb(245, 240, 234);
}
nav{
	padding: 20px 10%;
    height: 15vh;
}
ul{
	display:flex;
	align-items:center;
}
li{
	list-style:none;
	cursor:pointer;
	font-size:20px;
	margin-right:5%;
	font-weight:500;

}
main{
   display:flex;
   align-items:center;
   justify-content:center;
}
.leftmain{
	width:40%;

}
.leftmain h1{
	font-size:67px;

}
.leftmain p{
	font-size:20px;
	color:rgb(94, 90, 90);
	margin: 5% 0;

}
.leftmain button{
	background-color:green;
	color:white;
	font-size:20px;
	border-radius:10px;
	padding:15px 20px;
	margin:20px 0;
	border:none;
	font-weight:700;
	cursor:pointer;
}
.rightmain{
    display: flex;
	flex-direction: column;
	
}
.right1{
	display: flex;
	gap:18px;	
}
.right2{
	padding-top:18px;
}

